/* Reset*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: #16453b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #16453b;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
button {
  background-color: #6497b0;
  color: beige;
  border: solid 0.5px #1c5678;
  /* width: 80px; */
  height: 75px;
}

button:hover {
  background-color: grey;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.zero {
  grid-column: span 2;
}
.all-clear {
  background-color: #16445e;
  grid-column: span 2;
}
.delete {
  background-color: #16445e;
}
.operator,
.operate {
  background-color: #49c582;
}

.display {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  color: beige;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1c5678;
  height: 100px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-right: 10px;
}

.calculator-frame {
  overflow: hidden;
  width: 350px;
  background-color: #24719e;
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
