/* Reset*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: #16453b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #16453b;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
button {
  background-color: #6497b0;
  border: none;
  color: beige;
}

.all-clear {
  background-color: #16445e;
}

.divide,
.multiply,
.subtract,
.add,
.operate {
  background-color: #49c582;
}

.number-button {
  background-color: #216891;
}

.display {
  background-color: #1c5678;
  height: 75px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.calculator-frame {
  width: 250px;
  height: 375px;
  background-color: #24719e;
  border-radius: 15px;
}
